<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gachon.inclass.pcbangreservation">

    <uses-permission android:name="wonpa.alwaysweb.com.myloctest.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 네트워크로만 위치 측정 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PCbangReservation">
        <activity android:name=".MapActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAP3n6_Xl8J5Khn37JDX5XY9AaDWogTXNU" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".OwnerLoginActivity" />
        <activity android:name=".OwnerSignUpActivity" />
        <activity android:name=".CustomerOrOwnerActivity" />
        <activity android:name=".FindpwActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Reservation" />
        <activity android:name=".ShowSeat" />
        <activity android:name=".PaymentActivity" android:theme = "@android:style/Theme.Dialog"/>
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup"
            android:theme="@style/Theme.PCbangReservation.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>